[submodule "islasantiago.com"]
	path = islasantiago.com
	url = git@github.com:mezka/islasantiago.com.git
[submodule "mesquita-contact-api"]
	path = mesquita-contact-api
	url = git@github.com:mezka/mesquita-contact-api.git
[submodule "cabanaislasantiago.com"]
	path = cabanaislasantiago.com
	url = git@github.com:mezka/cabanaislasantiago.com.git
